html, body{
    margin:0;
    padding:0;
    height: 100%;

    display: flex; /*This is flexbox for the entire web page, (needed to extend the body to the bottom)*/
    flex-direction: column;  /*Items in this flexbox are stcked up to down*/

    /*this removes all the scroll bars, more like an app*/
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: "Roboto", sans-serif; /*default font for page*/
    font-weight: 400;
    font-style: normal;
    user-select: none;  /*Makes the text un-highlightable for entire page */
    /*background-color: rgb(240, 244, 248);*/
}

/*placeholder text color*/
::placeholder {
    color: rgb(130, 117, 104);;
    opacity: 1; /* Firefox */
}
::-ms-input-placeholder { /* Edge 12 -18 */
    color:rgb(130, 117, 104);
}

p{
    margin:auto;
}

/****************** To DO List Portion *********************/

.two-section{ /*Website split in 2 sections (sidebar and mainArea)*/
    display:flex; /*two parts of website are split using flexbox*/
    flex-direction: row;  /*two sections are in side by side formation (sidebar and mainArea)*/
    flex-wrap: nowrap; /*never wrap these two section*/
    flex-grow:1; /*both sections extend to bottom of page*/
    justify-content: flex-start; /*flex elements get packed towards the start (first sidebar, then mainarea)*/
}

#sidebar{
    display:flex;  /*sidebar uses flexbox to organize links*/
    flex-direction: column; /*flex box is configured to stack elements (links)*/
    flex-wrap:nowrap; /*no wrap on this flex box*/
    gap: 30px; /*flexbox gap*/
    width: 105px; /*width of sidebar, required for transition to work*/
    background-color:rgb(236, 229, 218); /*background color of sidebar*/
    padding-top: 50px; /*padding on top of sidebar*/
    transition: all 0.5s ease; /*transition for sidebar expansion*/
    /*border: red solid 1px;*/
}

#sidebar-linkName{
    display: none; /*when not expanded the link name will not show*/
    margin-left:15px; /*Space betwwen icon and text on an extended side menu*/
}

#sidebar.active{ /*When the sidebar is expanded*/
    width:300px; /*width of expanded sidebar*/
    & #sidebar-linkName{   /*nested element to chain css actions*/
        display:block;     /*display the link names when sidebar is expanded*/
    }
}

#sidebar a{  /* A sidebar button (expanded or contracted) */
    display:flex; /*button uses flexbox to organize the icon and link name*/
    flex-direction: row; /*icon and link name will be side by side*/

    margin-left:30px; /*margin to the left of a sidebar button*/
    margin-right:30px; /*margin to the right of a sidebar button*/
    padding:8px 10px; /*padding inside a sidebar button*/
    border-radius: 100px; /*make the button completely round*/
    color:rgb(80, 69, 58); /*default color of sidebar button (symbol or name)*/
    text-decoration: none; /*removes the underline associated with links*/
    transition: all 0.3s ease; /*transition for color change on hover*/
    /*background-color: rgba(255, 255, 255, 0); /*transluscent background color around button, used as tool for testing*/
    /*border: rgb(255, 0, 0) 1px solid;*/
}

#sidebar a.active{  /*when a sidebar button is associated with the current page*/
    background-color: rgb(213, 232, 202); /*active button has light green background*/
    color: black; /*active button is black*/
    & .material-symbols-outlined{  
        font-variation-settings:
        'FILL' 1,  /*active button has its icon filled*/
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }
}
#sidebar a:hover{  /*when you hover over a sidebar button*/
    background-color: rgb(185, 201, 176); /*background color of a button that been hovered over*/
    transform: scale(1.01); /*scale of sidebar button when hovered over*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; /*shadow of button*/
    & .material-symbols-outlined{
        font-variation-settings:
        'FILL' 1,      /*Icon is fiiled when button is hovered over*/
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }
}

.material-symbols-outlined {   /*default google icon css*/
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}



#mainarea{    
    display:flex; /*estblish that this container uses flexbox*/
    flex-direction: column; /*items are layout in row direction*/
    flex-wrap: nowrap; /*all items will appear on one line (no wrapping)*/
    background-color:rgb(236, 229, 218 ); /*background color of main area section*/
    width:100%; /*width of main area*/
    overflow: hidden; /*important, otherwise mainArea can go off screen with big task names*/
    /*border: blue 1px solid;*/
}
.inputArea{  /*Area that contains both the "input field" and the "add task" button*/
    display:flex; /*uses flexbox to organise the input field and the add task button*/
    justify-content: flex-start; /*flex elements get packed towards the start (inputfield, then addtask btn)*/
    gap:10px; /*the gap betwwen the input and button*/

    margin-left: 0px; /*0 margin to left of this area*/
    margin-right: 25px; /*keeps this area at the same width of the task area (may not be needed)*/
    padding-top:40px;
    padding-bottom: 20px;
    height: 45px;
    /*border: solid red 1px;*/
}
#input-field{
    font-family: "Roboto", sans-serif; /*input fields need this to take effect*/
    font-size: 14px; /*font size of input field*/
    text-align:center; /*alignment of text in input field*/
    border:0; /*remove the outline around input field*/
    border-radius:30px; /*border radius of input field*/
    width:50%; /*width of input field*/
    padding: 25px; /*padding of input field*/
    background-color:rgb(252, 252, 252); /*background color of input field*/
}
#addTaskBtn{
    font-family: "Roboto", sans-serif; /*font of addTaskBtn*/
    font-size: 13px; /*font size of addTaskBtn*/
    text-align:center; /*text alignment of addTaskBtn*/
    border:0; /*remove the outline around the button*/
    border-radius: 30px; /*border radius of addTaskBtn*/
    width:90px; /*width of addTaskBtn*/
    padding:15px; /*padding of addTaskBtn*/
    background-color: rgb(255, 220, 173); /*default color of addTaskBtn*/
    transition: all 0.3s ease; /*transition effect of addTaskBtn*/
}
#addTaskBtn:hover{ /*effect when hover over button*/
    cursor: pointer; /*change pointer on hover of addTaskBtn*/
    background-color: rgb(246, 208, 162); /*change background color on hover of addTaskBtn*/
    transform: scale(1.01); /*change scale on hover of addTaskBtn*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#addTaskBtn:active{  /*brief effect when click on button*/
    background-color:rgb(227, 193, 150); /*brief button color when click on button*/
    transform:scale(1); /*brief scale change of btn when click on btn*/
}


/*---------------to do list card--------------*/
#TaskArea{
    display:flex;
    flex-direction:column;
    height:100%;
    margin-left:0px;
    margin-right:25px;
    margin-bottom: 20px;
    background-color: rgb(252, 252, 252);
    border-radius: 15px;
    overflow: hidden;

    /*border: rgb(43, 253, 85) 1px solid;*/
}
#task-header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(246, 244, 239);
    height:78px;
    /*border:red 1px solid;*/
}
#action-zone{
    height:100%;
    /*border:red solid 1px;*/
}
#account-zone{
    display:none; /*hidden by defult*/
} 
#settings-zone{
    display:none; /*hidden by defult*/
}
#about-zone{
    display:none; /*hidden by defult*/
}

#leftTitleArea{
    display:flex;
    flex-direction: column;
    /*padding: 15px;*/
    /*border: red 1px solid;*/
}
.rightTitleArea{
    /*border: rgb(119, 255, 0) 1px solid;*/
}


#title{
    margin-top:19px;
    margin-bottom: 6px;
    margin-left:15px;
    font-weight: 400;
    font-size: 18px;
    /*border: red 1px solid;*/
}

#taskCountArea{
    display:block;
    font-size: 12px;
    margin-left:15px;
    color: rgb(130, 117, 104);
    /*border: green 1px solid;*/
}

#removeAll-button{
    margin-top: 15px;
    margin-right:14px;

    padding-left:12px;
    padding-right:12px;
    padding-top:10px;
    padding-bottom:7px;

    background-color: rgb(252, 252, 252);
    color: rgb(130, 117, 104);
    border-radius: 14px;
    scale: 0.8;
    border:none;
    cursor: pointer;
    transition: all 0.3s ease;
}
#removeAll-button:hover{
    background-color: rgb(246, 208, 162);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#removeAll-button:active{
    background-color:rgb(227, 193, 150);
}

#deleteListOverlay{
    position:fixed;
    display:none; /*Hidden by default*/
    width: 100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.5); 
    z-index:2;
}
#deleteAllCard{
    max-width:280px;
    max-height:200px;
    background-color:rgb(252, 252, 252);
    border-radius: 20px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin:auto;
    z-index:3;
}
.Overlay-icon{
    margin-top: 18px;
    text-align: center;
    scale:0.85;
    color: rgb(130, 117, 104);
}
#Overlay-title{
    /*border: red 1px solid;*/
    text-align: center;
    font-size: 19px;
    font-weight: 400;
    margin-top:13px;
}
#Overlay-text{
    margin-top:15px;
    margin-left:25px;
    margin-right:25px;
    margin-bottom:35px;
    font-size: 12px;
    font-weight:300;
}
.Overlay-buttons{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    gap:12px;
    /*border:red 1px solid;*/
    margin-right:20px;
}
.Overlay-btn{
    border: none;
    font-size: 12px;
    padding: 10px 19px;
    border-radius:20px;
    background-color:rgb(252, 252, 252);
    color: rgb(130, 117, 104);

}
.Overlay-btn:hover{
    background-color: rgb(246, 208, 162);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}

.Overlay-btn:active{
    background-color:rgb(227, 193, 150);
}
#Delete-btn{
    background-color: rgb(255, 226, 188);
}
#Delete-btn:hover{
    background-color: rgb(246, 208, 162);
}
#Delete-btn:active{
    background-color:rgb(227, 193, 150);
}



ul{
    list-style-type: none;  /*Removes the dot at begining of a task*/
    display:flex; /*list of tasks will use flexbox*/
    flex-direction: column;
    flex-wrap: nowrap; /*makes sure the flexbox elements will wrap*/
    gap: 20px; /*gap between each task element*/
    padding-left:0; /*Needed because a list will create an unessesary space on the left*/
    /*border: solid red 1px;*/
}
ul li{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: flex-end;

    background-color: rgb(242, 239, 232);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); /*shadow around a task element*/
    border-radius: 8px; /*radius of a task element*/
    height:60px;
    margin-left:20px;
    margin-right:20px;

    overflow:hidden; /*make sure line does not go outside the div*/
    transition: all 0.3s ease;
    /*border: blue solid 1px;*/
}
ul li:hover{
    cursor: pointer;
    background-color: rgb(255, 221, 178);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#left-portion{
    display:flex;
    flex-direction:column;
    width:100%;
    overflow:hidden;
    /*border: red 1px solid;*/
}
#title-portion{
    font-weight:400;
    font-size:18px;
    margin-top: 10px;
    margin-left: 14px;

    /*this three needed to keep one line and end in ellipsis*/
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    /*border: 1px green solid;*/
}
#date-portion{
    margin-top: 7px;
    margin-left: 14px;
    font-size:12px;
    color:rgb(130, 117, 104);
    /*border:red 1px solid;*/
}

#right-portion{
    min-width:70px;
    /*border: green 1px solid;*/
}
#options-btn{
    padding-left:10px;
    padding-right:10px;
    padding-top:8px;
    padding-bottom:8px;

    margin-top: 8px;
    margin-left:15px;

    background-color: rgb(252, 252, 252);
    color: rgb(130, 117, 104);
    border-radius: 14px;
    scale: 0.8;
    border:none;
    cursor:pointer;
    transition: all 0.3s ease; /*check if needed*/
}

/*---------------Account card--------------*/
#AccountArea{
    display:block;

}





.user-details-container{
    background-color: rgb(227, 187, 187);
}







/*----------Login Portion-----------*/

h1{
    font-weight: 500;
    border: blue 1px solid;
}
#login-title{
    margin: auto;
}
#loginCard{
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    border-radius: 2%;
    /*display:flex;*/
    display:none;
    flex-direction: column;
}
/*Hidden sign up button*/
#sign-up{
    display:none;
}
#password2{
    display:none;
}
#cancel-create-account{
    display:none;
}



